@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body{
    width: 100vw;
    min-height: 100vh;
    background: #0A070B;
    overflow-x: hidden;
    
}
.bg-100{
    background-image: 
            linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1)),
            url('../../public/film.jpeg');
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover;
}
.live{
    background: transparent;
    color: #ea2f67;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #ea2f67, #1884f7);
}
::-webkit-scrollbar{
    display: none;
}
#header{
    transition: 1s ease;
    transform: translateY(100px);
    opacity: 0;
}
#header.active{
    transform: translateY(0);
    opacity: 1;
}
#live{
    transition: 1s ease;
    transform: scale(0);
    opacity: 0;
}
#live.active{
    transform: scale(1);
    opacity: 1;
}
#most{
    transition: 1s ease;
    transform: scale(0);
    opacity: 0;
}
#most.active{
    transform: scale(1);
    opacity: 1;
}